* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2d6a3e;
    height: 100vh;
    
  
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.logo {
    font-weight: bold;
    font-size: 1.4rem;
}

.nav-icons {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}
.nav-icons a{
    color: #0a140d;
    text-decoration: none;
}
.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

.product-hero {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}
.product-image{
    position: relative;
    overflow: hidden; 
    cursor: zoom-in;
    border-radius: 15px;
}
.product-image img {
  transition: transform 0.3s ease;
    width: 100%;
    display: block;
}
.product-image:hover img {
    transform: scale(2); /* 2 മടങ്ങ് വലുതാകും (ആവശ്യമെങ്കിൽ മാറ്റാം) */
}
 .product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px; 
}
.product-details h1 {
   font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: white;
}
.product-details p{
   font-size: 1.1rem;
    line-height: 1.6;
    color: white;
}
.features{
   list-style: none;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
.category-desc, .product-desc {
    line-height: 1.6;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
}
.price {
    margin: 20px 0;
    font-size: 1.2rem;
    color: white;
}

.old-price {
    text-decoration: line-through;
    opacity: 0.6;
    margin-right: 10px;
    color: white;
}
.quantity-container {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}

.quantity-container input {
    width: 60px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-weight: bold;
}
/* Try On Button */
.try-on-btn {
    background: #0a1f10;
    color: white;
    border: 2px solid #ffffff;
    padding: 15px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

/* Collections Grid */
.similar-collections {
    margin-top: 60px;
    color: white;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 0; 
    border-radius: 12px;
    overflow: hidden;
    height: 150px;
}

.card img {
   width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 5px;
}
 .info-section{
    line-height: 1.6;
    padding-bottom: 40px; 
      
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
 }
 .info-section ul {
    margin-top: 15px;
    list-style-position: inside;
}

.info-section li {
    margin-bottom: 10px; 
}
footer {
    background-color: #6b8e61;
    color: #f1f1f1;
    padding: 40px 50px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
}

.footer-column a {
    display: block;
    color: #f1f1f1;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 0.85rem;
}

.copyright {
    text-align: center;
    margin-top: 100px;
    font-size: 0.75rem;
}