<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisionVogue - Verify OTP</title>
    <link rel="stylesheet" href="/css/forgotpass-otp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <div class="logo">VisionVogue</div>
            <div class="nav-icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-regular fa-user"></i>
            </div>
        </nav>
    </header>

    <main class="otp-container">
        <section class="otp-box">
            <h1>Verify OTP</h1>
             <form method="post" action="/forgotpass" onsubmit="return validateOTPform()">
            <div class="otp-white-card">
                <div class="otp-inputs">
                    <input type="text" id="otp" maxlength="1" class="otps">
                    <input type="text" id="otp" maxlength="1" class="otps">
                    <input type="text" id="otp" maxlength="1" class="otps">
                    <input type="text" id="otp" maxlength="1" class="otps">
                </div>
            
                <div class="otp-timer-row">
                    <p>Don't get the OTP? <a href="#"  id="resetBtn" class="reset-link">Reset OTP</a></p>
                    <span class="timer" id="timer">00:56</span>
                </div>
            </div>
            <button type="submit" class="btn-submit">Submit</button>
             </form>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-column">
                <h4>About Us:</h4>
                <a href="#">Our Story</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms</a>
                <a href="#">FAQ</a>
            </div>
            <div class="footer-column">
                <h4>Support:</h4>
                <a href="#">Shipping Policy</a>
                <a href="#">Returns</a>
                <a href="#">Order Tracking</a>
                <a href="#">Help</a>
            </div>
            <div class="footer-column">
                <h4>My Account:</h4>
                <a href="#">Profile</a>
                <a href="#">My Orders</a>
                <a href="#">Wishlist</a>
                <a href="#">Refer & Earn</a>
            </div>
            <div class="footer-column">
                <h4>Contact:</h4>
                <p>Email: visionvogue@gmail.com</p>
                <p>Phone: 8923457190</p>
            </div>
        </div>
        <p class="copyright">© 2026 Eyewear Store. All rights reserved.</p>
    </footer>
  <script>
let timeInSeconds = 56;
const timerElement = document.getElementById('timer');
const resetBtn = document.getElementById('resetBtn');
let countdown;

function startTimer() {
    clearInterval(countdown);
    countdown = setInterval(() => {
        let minutes = Math.floor(timeInSeconds / 60);
        let seconds = timeInSeconds % 60;
        minutes = minutes < 10 ? '0' + minutes : minutes;
        seconds = seconds < 10 ? '0' + seconds : seconds;

        timerElement.innerHTML = `${minutes}:${seconds}`;
        if (timeInSeconds <= 0) {
            clearInterval(countdown);
            timerElement.style.color = "red";
            Swal.fire({
               icon: 'error',
               title: 'Oops...',
            text: 'Invalid Password. Please try again!',
        });
        } else {
            timeInSeconds--;
        }
    }, 1000); 
}

window.onload = startTimer;

resetBtn.addEventListener('click', (e) => {
    e.preventDefault(); 
       if (timeInSeconds > 0) {
        Swal.fire({
            icon: 'warning',
            title: 'Please wait',
            text: 'You can resend OTP only after the timer ends'
        });
        return; 
    }
    $.ajax({
        type: 'POST',
        url:'/resendForgotOTP',
        success: function(response) {
            if (response.success) {
                timeInSeconds = 56; 
                timerElement.style.color = "black"; 
                
                startTimer()
                
                document.querySelectorAll('.otps').forEach(input => input.value = "");

                Swal.fire({
                    icon: 'success',
                    title: 'Resent!',
                    text: response.message,
                    showConfirmButton: false,
                    timer: 1500
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: response.message
                });
            }
        },
        error: function() {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Internal Server Error'
            });
        }
    });
    
});


function validateOTPform() {
    const otpInputs = document.querySelectorAll('.otps');
    let otpinput = "";
    otpInputs.forEach(input => {
        otpinput += input.value;
    });

    $.ajax({
        type: 'POST',
        url:'/verifyPassForgotOTP',
        data: { otp: otpinput },
        success: function(response) {
            if (response.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'OTP verified successfully',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    window.location.href = response.redirectUrl;
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: response.message
                });
            }
        },
        error: function() {
            Swal.fire({
                icon: 'error',
                title: 'Invalid OTP',
                text: 'Please try again'
            });
        }
    });
    return false; 
}
  </script>
</body>
</html>