<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisionVogue - Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <div class="logo">VisionVogue</div>
            <div class="nav-icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-regular fa-user"></i>
            </div>
        </nav>
    </header>

    <main class="login-container">
        <section class="login-box">
            <h1>Sign in</h1>
            <form action="/login" method="post" id="loginForm" autocomplete="off">
                <input type="email" name="email" placeholder="email@mail.com"  autocomplete="off">
                 <div id="error1" class="error-message"></div>
                 <div class="form-group" style="position: relative;">
                <input type="password" name="password" placeholder="••••••••••••••••"  autocomplete="new-password">
                   <i class="fa-solid fa-eye" id="togglePassword" style="position: absolute; right: 10px; top: 20px; cursor: pointer; color: #777;"></i>
                <div id="error2" class="error-message"></div>
                 </div>
                    <% if (locals.message) { %>
             <div id="msg" style="color: #d9534f; background-color: #f2dede; border: 1px solid #ebccd1; padding: 10px; border-radius: 5px; margin-bottom: 15px; text-align: center; font-weight: bold;">
             <%= message %>
             </div>
           <% } %>
                <button type="submit" class="btn-signin">Sign in</button>
                
            </form>

            <a href="/forgotPassword" class="forgot-password">Forgot Password?</a>
              <a href="/signup" style="text-decoration: none;">
            <button class="btn-signup">New user? Sign up now</button>
            </a>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-column">
                <h4>About Us:</h4>
                <a href="#">Our Story</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms</a>
                <a href="#">FAQ</a>
            </div>
            <div class="footer-column">
                <h4>Support:</h4>
                <a href="#">Shipping Policy</a>
                <a href="#">Returns</a>
                <a href="#">Order Tracking</a>
                <a href="#">Help</a>
            </div>
            <div class="footer-column">
                <h4>My Account:</h4>
                <a href="#">Profile</a>
                <a href="#">My Orders</a>
                <a href="#">Wishlist</a>
                <a href="#">Refer & Earn</a>
            </div>
            <div class="footer-column">
                <h4>Contact:</h4>
                <p>Email: visionvogue@gmail.com</p>
                <p>Phone: 8923457190</p>
            </div>
        </div>
        <p class="copyright">© 2026 Eyewear Store. All rights reserved.</p>
    </footer>

    <script>
    const emailid = document.getElementsByName("email")[0];
    const passid = document.getElementsByName("password")[0];
    const error1 = document.getElementById("error1");
    const error2 = document.getElementById("error2");
    const loginform = document.getElementById("loginForm"); 

    function emailValidateChecking() {
        const emailval = emailid.value;
        const emailpattern = /^[a-zA-Z0-9._-]+@([a-zA-Z0-9.-]+)\.([a-zA-Z]{2,4})$/;

        if (!emailpattern.test(emailval)) {
            error1.style.display = "block";
            error1.innerHTML = "Invalid Email Format";
            return false;
        } else {
            error1.style.display = "none";
            error1.innerHTML = "";
            return true;
        }
    }

    function passValidateChecking() {
        const passval = passid.value;
        if (passval.length < 8) {
            error2.style.display = "block";
            error2.innerHTML = "Password must be at least 8 characters";
            return false;
        } else {
            error2.style.display = "none";
            error2.innerHTML = "";
            return true;
        }
    }

    loginform.addEventListener("submit", function (e) {
        const isEmailValid = emailValidateChecking();
        const isPassValid = passValidateChecking();
        if (!isEmailValid || !isPassValid) {
            e.preventDefault();
        }
    });



    </script>
</body>
</html>
