<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success page</title>
     <link rel="stylesheet" href="/css/ordersuccess.css">
</head>
<body>
    <div class="success-page">
    <div class="icon">✅</div>
    <h1>Thank You for Your Purchase!</h1>
    <p>Your order has been placed successfully. You will receive an email confirmation soon.</p>
    <div class="buttons">
        <a href="/profile/orders" class="btn">View Order Details</a>
        <a href="/shop" class="btn-outline">Continue Shopping</a>
    </div>
</div>
</body>
</html>